.red {
    background-color: red;
}

body {
    background-color: rgba(250, 218, 176, 0.692);
}

* {
    color: rgb(0, 0, 95);
}

table {
    background-color: rgb(240, 183, 250);
    width: 100%;
    text-align: center;
}

table,
tbody,
td {
    font-size: 13px;
}


table,
thead,
th {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    border-left: 2px solid black;
}

table,
thead,
th:first-child {
    border-left: none;
}